<div class="container-set">
    <div class="top-content">
        <img class="question-faq" src="/assets/images/questions.png" alt="Loading..">
    </div>
    <div class="bottom-content">
        <h1> Frequently Asked Questions</h1>
        <section class="accordion">
            <input type="checkbox" name="collapse" id="handle1" checked="checked">
            <h2 class="handle">
                <label for="handle1">Can I get refund after the booking ?</label>
                <i class="arrow up"></i>
            </h2>
            <div class="content">
                <p>Yes, after the booking started you can cancel get refund</p>
            </div>
        </section>
        <section class="accordion">
            <input type="checkbox" name="collapse2" id="handle2">
            <h2 class="handle">
                <label for="handle2">If Driver ask extra money ?</label>
                <i class="arrow up"></i>
            </h2>
            <div class="content">
                <p>
                    It is long established fact that a reader will be distracted by the
                    readable content of a page when looking at it's layout.
                    The point of using Lorem ipsum is that it has more-or-less
                    normal distribution
                </p>
            </div>
        </section>
        <section class="accordion">
            <input type="checkbox" name="collapse2" id="handle3">
            <h2 class="handle">
                <label for="handle3">When would invoice generate</label>
                <i class="arrow up"></i>
            </h2>
            <div class="content">
                <p>Loading...</p>
            </div>
        </section>
        <section class="accordion">
            <input type="checkbox" name="collapse2" id="handle4">
            <h2 class="handle">
                <label for="handle4">Lorem ipsum is simply dummy text of  the printing</label>
                <i class="arrow up"></i>
            </h2>
            <div class="content">
                <p>Loading...</p>
            </div>
        </section>
        <section class="accordion">
            <input type="checkbox" name="collapse2" id="handle5">
            <h2 class="handle">
                <label for="handle5">When the referal amount will recieve</label>
                <i class="arrow up"></i>
            </h2>
            <div class="content">
                <p>Loading...</p>
            </div>
        </section>
    </div>
</div>
