.container-set {
    width: 320px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: sans-serif;
}
.top-content {
    width: 320px;
    height: 200px;
    background-color: #0032a0;
}
.question-faq {
    width: auto;
    height: auto;
    position: relative;
    left: 4em;
    top: 3em;
}
.bottom-content {
    h1 {
        font-size: 18px;
        padding: 15px;
        margin-bottom: 0px;
    }
}
.accordion > input[type="checkbox"] {
    display: none;
}

.accordion .content {
    overflow-y: hidden;
    height: 0;
    transition: height 0.3s ease;
}

.accordion > input[type="checkbox"]:checked ~ .content {
    height: auto;
    overflow: visible;
    padding: 15px;
    padding-top: 0px;
}

.accordion .handle {
    margin: 0;
    font-size: 16px;
    line-height: 1.3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion label {
    color: #333;
    cursor: pointer;
    font-weight: bold;
    padding: 15px;
    font-size: 13px;
    font-family: sans-serif;
    display: block;
    width: 100%;
}

.accordion label:hover,
.accordion label:focus {
    background: #fff;
}

.accordion .handle .up {
    display: inline-block;
    content: "";
    margin-right: 10px;
    font-size: 0.58em;
    line-height: 1.556em;
    vertical-align: middle;
    border: 1px solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.accordion > input[type="checkbox"]:checked ~ .handle .up {
    border: 1px solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}


body {
    padding: 40px;
}

a {
    color: #06c;
}

p {
    margin: 0 0 1em;
    font-size: 12px;
    color: #606060;
}

h1 {
    margin: 0 0 10px;
    font-weight: 600;
    font-size: 1.5em;
}

.accordion {
    max-width: 65em;
    margin-bottom: 0px;
    border: 0.2px solid rgb(145 145 145 / 28%);
    box-shadow: 0px 0px 3px -3px;
    font-family: sans-serif;
}

.accordion p:last-child {
    margin-bottom: 0;
}
