.container {
    width: 300px;
    height: auto;
    padding: 10px;
    padding-top: 30px;
    text-align: left;
    font-family: sans-serif;
}
.terms_condition {
    p {
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
@media (max-width: 320px) {
    .container {
        width: auto;
        height: auto;
        padding: 10px 20px;
    }
}
