<div class="container">
    <h2>Terms and Conditions</h2>
    <div class="terms_condition" *ngFor = "let item of termData.response.data.site_content">
        <p>{{item.login_tc}}</p>
        <p>{{item.login_pp}}</p>
        <p>{{item.local_tc}}</p>
        <p>{{item.outstation_tc}}</p>
    </div>
</div>
