<div class="row">
    <div class="container">
        <div class="center-content">
            <h2>Hey, Buddy <img src="assets/images/bye.png" alt="Loading.." class="image-align"></h2>
            <h4>Welcome to our own Product</h4>
            <br>
            <hr class="line-stlye">
        </div>
        <div class="bottom-content">
            <p>We are launching many product like <span>E-Vehicle.</span>&nbsp;
            <span>Low carbon emission</span> and eco-friendly environment.
            Invest in our vehicle and get better ROI from our product.
            Stay tuned lots more to come.
            </p>
        </div>
        <button class="button">
            Like to call us back
        </button>
        <div class="b-bold">
            <p>We would like to share our cross selling product</p>
        </div>
    </div>
    <div class="bottom-banner">
        <div *ngFor= "let item of storageData.response.data.banner">
            <img  class="banner-image" src={{item.url}} alt="">
        </div>
    </div>
</div>
