.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    width: 300px;
    height: 190px;
    padding: 10px;
    padding-top: 30px;
    background-color: #0032a0;
    color: white;
    text-align: center;
    border: 0.2px solid #0032a0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-family: sans-serif;
}
h2 {
    margin: 0;
}
h4 {
    margin-bottom: 0px;
    margin-top: 15px;
}
hr.line-stlye {
    width: 85%;
    height: auto;
    content: ".";
    border-style: solid;
    border-color: #ffe738;
    border-width: 2px 0px 0px 0px;
    border-radius: 2px;
}
.image-align {
    width: 20px;
    height: auto;
    padding: 4px;
    position: relative;
    top: 6px;
}
.bottom-content p {
    font-size: 12px;
    padding: 2px 12px;
    span {
        color: #ffe738;
    }
}
button {
    width: 150px;
    height: 40px;
    background-color: white;
    color: #0032a0;
    font-weight: 600;
    border: 0.5px solid #0032a0;
    border-radius: 6px;
    font-size: 14px;
    position: relative;
    top: 0.5em;
    cursor: pointer;
    box-shadow: 0px 0px 3px 0px;
}
button:hover {
    background-color: #0033a0b0;
    color: white;
}
.b-bold {
    color: black;
    position: relative;
    top: 0.8em;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}
.bottom-banner {
    width: 300px;
    padding: 10px;
    padding-top: 30px;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .banner-image {
        width: 300px;
        padding: 3px 10px;
    }
}
