/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;
}
app-root{
    display: flex;
    justify-content: center;
    align-items: center;
}